<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片项目</title>
</head>
<body>
    <div style="width:1200px;margin:0 auto;">
        <h2>图片存储项目</h2>
        <p>
            此项目是图片存储项目，可以上传图片到此项目。图片会在本地和微博各存一份。
            <br />
            使用方法：
            访问 /start 地址
            <br />如果已登录则不用处理
            <br />若没有登录，则会提示手机微博登录。打开手机，确认登录。然后访问 /haslogin 验证是否已经登录
            <br />
            <br />提示已经登录后，访问 /file/list 页面上传图片即可。
        </p>

        <p>
            其他功能还有：
        </p>

        <h3>生成网站地图功能</h3>
        <p>
            访问 http://www.sqber.com:8007/sitemap 即可生成新的 sitemap.xml 文件。
            <br />
            可以访问 www.sqber.com/sitemap.xml 查看生成的最新文件。
        </p>
    </div>
</body>
</html>